body {
	background-image: url("index_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-color: black;
}

.container {
	font-family: 'Roboto';
}

#header {
	font-size: 92px;
	margin-top: 100px;
	margin-bottom: 20px;
	padding: 15px;
	display: inline-block;
	font-weight: 900;
	color: white;
	text-shadow: -10px 10px 24px #591923;
	border: 5px solid white;
	border-radius: 20px;
	box-shadow: -10px 10px 36px #591923, inset -10px 10px 36px #591923;
}

.row, .col-xs-10, .col-md-4 {
	text-align: center;
	margin: 0 auto;
}

input[type="text"] {
	line-height: 2em;
	width: 100%;
	padding-left: 10px;
	font-size: 18px;
	border: none;
	border-bottom: 1px solid gray;
	transition: all 0.7s;
}

input:focus {
	outline: none;
	border-bottom: 2px solid red;
}

div {
	margin: 10px 0;
}

#form {
	width: 30%;
	min-width: 320px;
	margin: 0 auto;
	background: white;
	border-radius: 20px;
	padding: 20px 5%;
	box-sizing: border-box;
	text-align: center;
}

#checkbox-container {
	text-align: left;
}

button {
	margin: 10px auto;
	padding: 5px;
	display: inline-block;
	background: none;
	border-radius: 5px;
	box-shadow: 1px 1px grey;
}

button:disabled {
	box-shadow: inset 3px 3px grey;
}

#success-message {
	visibility: hidden;
	color: #157700;
	font-style: bold;
	font-weight: 300;
}

#error-message {
	color: #ff0000;
	visibility: hidden;
}
